<button (click)="test1()">測試1</button><button (click)="test2()">測試2</button><button (click)="test3()">測試3</button><button (click)="test4()">測試4</button>
<br>
<button (click)="solution1()">解決方案1</button><button (click)="solution2()">解決方案2</button><button (click)="solution3()">解決方案3</button>
<br>
<button (click)="combineLatest()">combineLatest</button>
<button (click)="solution5()">mergeMap送出資料</button>
<br>
<button (click)="concatMap()">concatMap</button>
<button (click)="mergeMap()">mergeMap</button>
<button (click)="switchMap()">switchMap</button>
<br>
<button (click)="solution10()">持續訂閱</button>
<button (click)="destroy()">解除訂閱</button>
<!-- <button (click)="newSubject()">重新訂閱</button> -->
<br>
<button (click)="subject()">Subject</button>
<button (click)="subject2()">Subject2</button>
<button (click)="subjectNext()">SubjectNext</button>
<br>
<button (click)="Observable()">Observable</button>
<button (click)="Observable2()">Observable2</button>
<br>
<button (click)="BehaviorSubject()">BehaviorSubject</button>
<button (click)="BehaviorSubjectNext()">BehaviorSubjectNext</button>
<br>
<button (click)="ReplaySubject()">ReplaySubject</button>
<button (click)="ReplaySubjectNext()">ReplaySubjectNext</button>
<br>
<button (click)="MapTest()">MapTest</button>
<button (click)="clean()">清除</button>
<app-show-box></app-show-box>
